<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Signup</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body style="background-color: rgb(3, 3, 63);">
    <section class="vh-100">
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
              <div class="card shadow-2-strong" style="border-radius: 1rem;">
                <div class="card-body p-5 text-center">

                  <h3 class="mb-5">SIGNUP</h3>
                  <form method='post' class='post-form' action="{% url 'accounts:user_registration' %}">
                    {% csrf_token %}
                  <div class="form-outline mb-4">
                    <input type="text" name="name" id="typeEmailX-2" class="form-control form-control-lg" required/>
                    <label class="form-label" for="typeEmailX-2">Enter Name</label>
                  </div>

                  <div class="form-outline mb-4">
                    <input type="email" name="email" id="typePasswordX-2" class="form-control form-control-lg" required/>
                    <label class="form-label" for="typePasswordX-2">Email</label>
                  </div>

                  <div class="form-outline mb-4">
                    <input type="text" name="uname" id="typePasswordX-2" class="form-control form-control-lg" required/>
                    <label class="form-label" for="typePasswordX-2">Mobile</label>
                  </div>

                  <div class="form-outline mb-4">
                    <input type="text" name="add" id="typePasswordX-2" class="form-control form-control-lg" />
                    <label class="form-label" for="typePasswordX-2">Enter Address</label>
                  </div>

                  <div class="form-outline mb-4">
                    <input type="number" name="age" id="typePasswordX-2" class="form-control form-control-lg" />
                    <label class="form-label" for="typePasswordX-2">Enter Age</label>
                  </div>

                  <div class="form-outline mb-4">
                    <input type="date" name="join_date" id="typePasswordX-2" class="form-control form-control-lg" />
                     <label class="form-label" for="typePasswordX-2">DOB</label>
                  </div>

                  <!-- <div class="form-outline mb-4">
                      <select class="select" name="sel" id="typePasswordX-2" class="form-control form-control-lg" style="width: 350px; height: 50px ;">
                       {% for c in course %}
                        <option value="{{c.id}}">{{c.course_name}}</option>
                       {% endfor %}
                      </select>
                  </div> -->

                  <button class="btn btn-primary btn-lg btn-block" type="submit">Submit</button>
                  <button class="btn btn-primary btn-lg btn-block"><a class="btn btn-primary" href="{% url 'accounts:user_registration' %}">Back</a></button>

                  <hr class="my-4">

                  </form>

                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
</body>
</html>